@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeueHaasDisplayBold";
  src: url(../public/font/NeueHaasDisplayBold.ttf);
}
@font-face {
  font-family: "NeueHaasDisplay400";
  src: url(../public/font/NeueHaasDisplayRoman.ttf);
}
@font-face {
  font-family: "TTChocolates";
  src: url(../public/font/TT\ Chocolates\ Trial\ Light.otf);
}
@font-face {
  font-family: "TTChocolatesMedium";
  src: url(../public/font/TT\ Chocolates\ Trial\ Medium.otf);
}

h6 {
  font-size: clamp(10px, 1.5vw, 75px);
}
h2 {
  font-size: clamp(10px, 2.2vw, 75px);
}
h2 strong {
  font-size: clamp(10px, 2.9vw, 75px);
}
button,
h7 {
  font-size: clamp(10px, 1.2vw, 75px);
}
.buttonSmall {
  font-size: clamp(10px, 1vw, 75px);
}
@media (max-width: 768px) {
  h6 {
    font-size: clamp(12px, 5vw, 50px);
  }
  h2 {
    font-size: clamp(15px, 6.5vw, 75px);
  }
  h2 strong {
    font-size: clamp(20px, 7.4vw, 75px);
  }
  button,
  h7 {
    font-size: clamp(10px, 4vw, 75px);
  }
  .buttonSmall {
    font-size: clamp(8px, 3.6vw, 75px);
  }
}
